@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>EmaPos Barkod ve Otomasyon Sistemleri</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="author" content="EmaPos, emapos.com.tr" />
    <meta content="EmaPos, Ema, Ema Barkod ,Ema Barkod ve Otomasyon Sistemleri,EmaPos Barkod Yazıcı,EmaPos Otomasyon Sistemleri,EmaPos Restoran Otomasyon Sistemleri,EmaPos Barkod Otomasyon Sistemleri,Ema Barkodlama Sistemleri,EmaPos Barkod Yazıcı, Barkod Makinaları, Barkodlama Sistemi, Barkod Cihazı, Barkod Sistemi " name="keywords">
    <meta content="EmaPos Barkod ve Otomasyon Sistemleri" name="description">
    <link href="https://admin.emapos.com.tr/Images/newlogo.png" rel="icon" type="image/png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/Content/css/style.css" rel="stylesheet">
</head>
<body>
    @Html.Action("Navbar", "Anasayfa")
    @RenderBody()
    @Html.Action("Footer", "Anasayfa")
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/lib/easing/easing.min.js"></script>
    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="~/Content/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/Content/mail/contact.js"></script>
    <script src="~/Content/js/main.js"></script>
</body>
</html>